/* File: src/components/Todo.css */

body {
    background: rgb(246, 214, 141);
    
}

.done-container {
    background: rgb(41, 33, 33); 
    /*background-image: url("../img/orion-nebula-11185.jpg");*/
    width: 40vw;
    margin: 10em auto;
    border-radius: 15px;
    padding: 20px 10px; 
    color: white;
    border: 3px solid rgb(36, 110, 194);
    opacity: 1.1;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
}

.task {
    border: 1px solid white;
    border-radius: 5px;
    padding: 0.5em;
    margin: 0.5em;
}

.task button{
    background: rgb(12, 124, 251);
    border-radius: 5px;
    margin: 0px 5px;
    padding: 3px 5px;
    border: none;
    cursor: pointer;
    color: white;
    float: right;
}

.task-duration{
    background: rgb(251, 215, 12);
    border-radius: 5px;
    margin: 0px 5px;
    padding: 3px 5px;
    border: none;
    cursor: pointer;
    color: white;
    float: right;
}
.header {
    margin: 0.5em;
    font-size: 2em;
    text-align: center;
}

.new-task {
    margin: 2.5em 2em;
    width: 50%;
    outline: none;
    border: none;
    padding: 0.2em;
}

.new-task button {
    margin: 2.5em 2em;
    width: 50%;
    outline: none;
    border: none;
    padding: 0.7em;
}


.center {
    margin-left: auto;
    margin-right: auto;
  }
.center-two {
    border-radius: 5px;
    padding: 0.5em;
    margin: 0.5em;
    margin-left: auto;
    margin-right: auto;
}

  .App {
    font-family: sans-serif;
    text-align: center;
  }

  
  .progress {
    background-color: #f5f5f5;
    border-radius: 3px;
    box-shadow: none;
  }
  
  .progress.vertical {
    position: relative;
    width: 40px;
    height: 230px;
    display: inline-block;
    margin-right: 10px;
  }
  
  .progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  .progress.vertical > .progress-bar {
    width: 100% !important;
    position: absolute;
    bottom: 0;
  }
  
  .progress-bar {
    background-color: #2196f3;
    box-shadow: none;
  }
  
  .progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: width 0.6s ease;
    -o-transition: width 0.6s ease;
    transition: width 0.6s ease;
  }
  