/* File: src/components/Todo.css */

body {
    background: rgb(246, 214, 141);
    
}

.done-container {
    /*background: rgb(41, 33, 33); */
    background-image: url("../img/orion-nebula-11185.jpg");
    width: 40vw;
    margin: 10em auto;
    border-radius: 15px;
    padding: 20px 10px;
    color: white;
    border: 3px solid rgb(36, 110, 194);
}

.task {
    border: 1px solid white;
    border-radius: 5px;
    padding: 0.5em;
    margin: 0.5em;
}

.task-bkg {
    background-image: url("../img/orion-nebula-11185.jpg");
    width: 100%;
    z-index: 01;
    margin-bottom: -150px;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

.task button{
    background: rgb(12, 124, 251);
    border-radius: 5px;
    margin: 0px 5px;
    padding: 3px 5px;
    border: none;
    cursor: pointer;
    color: white;
    float: right;
}

.task-duration{
    background: rgb(251, 215, 12);
    border-radius: 5px;
    margin: 0px 5px;
    padding: 3px 5px;
    border: none;
    cursor: pointer;
    color: white;
    float: right;
}
.header {
    margin: 0.5em;
    font-size: 2em;
    text-align: center;
}

.create-task input[type=text] {
    margin: 2.5em 2em;
    width: 50%;
    outline: none;
    border: none;
    padding: 0.7em;
}
.create-task input[type=number] {
    margin: 2.5em 2em;
    width: 50%;
    outline: none;
    border: none;
    padding: 0.7em;
}

.create-task button {
    margin: 2.5em 2em;
    width: 50%;
    outline: none;
    border: none;
    padding: 0.7em;
}
